<div class="jumbotron">
  <div class="container">
    <h1>Knowledge Base for Ruby on Rails</h1>
    <p>Write articles, ask questions, get in contact! </p>
    <p>
      <%= button_to 'Articles', articles_path, :method => :get, :class => "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h3>Ruby is great!</h3>
      <p>Wanna know why? Join our growing community!
      </p>
    </div>
    <div class="col-lg-6">
      <h3><3</h3>
      <p>gotta love ruby.
      </p>
    </div>
  </div>
</div>
